<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!--  Go here to learn more https://logging.apache.org/log4j/2.x/manual/index.html  -->
	<properties>
		<property name="name">myLogFile</property>
		<property name="pattern">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{5} - %msg%n</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<Filters>
				<ThresholdFilter level="INFO" onMatch="NUETRAL" onMismatch="DENY"/>
				<ThresholdFilter level="DEBUG" onMatch="NUETRAL" onMismatch="DENY"/>
				<ThresholdFilter level="TRACE" onMatch="NUETRAL" onMismatch="DENY"/>
			</Filters>
			<PatternLayout pattern="${pattern}" />
		</Console>
		<RollingFile name="RollingFile"
			fileName="target/logs/${name}.log"
			filePattern="target/logs/${name}-%d{yyyy-MM-dd}-%i.log.gz">
			<PatternLayout>
				<pattern>${pattern}</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy /><!-- Rotated everyday -->
				<SizeBasedTriggeringPolicy size="1 MB" /> <!-- Or every 1 MB -->
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<Logger name="org.springframework" level="DEBUG" additivity="true">
			<appender-ref ref="Console" /> <!-- To console -->
			<appender-ref ref="RollingFile" /> <!-- And to a rotated file -->
		</Logger>
		<root level="trace"> <!-- We log everything -->
			<appender-ref ref="RollingFile" /> <!-- And to a rotated file -->
		</root>
	</loggers>
</configuration>